<!--<div xmlns:th="http://www.thymleaf.org" th:fragment="planets">-->
    <!--<div class="card" style="width: 18rem;" th:each="p : ${planets}">-->
        <!--<img class="card-img-top" th:src="@{${p.getPlanetImage()}}" alt="Some planet" style="width: auto; height: 90px">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title" style="color:white" th:text="${p.getPlanetName()}"></h5>-->
            <!--<p class="card-text" th:text="${p.getPlanetInfo()}"></p>-->
            <!--<a href="#" class="btn btn-primary">More info</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->




<div xmlns:th="http://www.thymeleaf.org" th:fragment="planets">
    <div class="col-sm-12 col-md-6 col-md-offset-3 text-center" th:each="p : ${planets}">
        <div class="thumbnail">
            <img th:src="@{${p.getPlanetImage()}}">
            <div class="caption">
                <h3 th:text="${p.getPlanetName()}"></h3>
                <p th:text="${p.getPlanetInfo()}"></p>
                <p><a href="#" class="btn btn-danger" role="button">More...</a></p>
            </div>
        </div>
    </div>
</div>
