<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="table">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr class="active">
                        <th>Planet Name</th>
                        <th>Distance From Sun</th>
                        <th>One Way Light Time</th>
                        <th>Length Of Year</th>
                        <th>Planet Type</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="p : ${planets}">
                        <td th:text="${p.getPlanetName()}"></td>
                        <td th:text="${#numbers.formatInteger(p.getDistanceFromSun(), 1, 'COMMA')}"></td>
                        <td th:text="${#numbers.formatDecimal(p.getOneWayLightTimeToTheSun(), 1,6,'POINT')}"></td>
                        <td th:text="${#numbers.formatInteger(p.getLengthOfYear(), 1,'COMMA')}"></td>
                        <td th:text="${p.getPlanetType()}"></td>
                        <td>
                            <img th:src="@{${p.getPlanetImage()}}" alt="Photo of planet" style="height: auto;width: 80px">
                        </td>
                        <td>
                            <form action="/delete" method="get">
                                <input type="hidden" th:value="${p.getPlanetName()}" name="planet">
                                <button class="btn btn-sm btn-warning" type="submit">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!--<div class="container" xmlns:th="http://www.thymeleaf.org" th:fragment="table">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<div class="table-responsive">-->
                <!--<table class="table table-bordered table-hover">-->
                    <!--<tr class="active">-->
                        <!--<th>Planet Name</th>-->
                        <!--<th>Distance From Sun</th>-->
                        <!--<th>One Way Light Time</th>-->
                        <!--<th>Length Of Year</th>-->
                        <!--<th>Planet Type</th>-->
                        <!--<th>Action</th>-->
                    <!--</tr>-->
                    <!--<tr th:each="p : ${planets}">-->
                        <!--<td th:text="${p.getPlanetName()}"></td>-->
                        <!--<td th:text="${#numbers.formatInteger(p.getDistanceFromSun(), 1, 'COMMA')}"></td>-->
                        <!--<td th:text="${#numbers.formatDecimal(p.getOneWayLightTimeToTheSun(), 1,6,'POINT')}"></td>-->
                        <!--<td th:text="${#numbers.formatInteger(p.getLengthOfYear(), 1,'COMMA')}"></td>-->
                        <!--<td th:text="${p.getPlanetType()}"></td>-->
                        <!--<td>-->
                            <!--<form action="/delete" method="get">-->
                                <!--<input type="hidden" th:value="${p.getPlanetName()}" name="planet">-->
                                <!--<button class="btn btn-sm btn-warning" type="submit"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>-->
                            <!--</form>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
