<!DOCTYPE html >
<html lang="pl" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/header::head"></head>

<body>

    <div class="container">
        <div class="row">
            <div th:replace="fragments/add-planet :: add-planet"></div>
        </div>
        <div class="row">
            <div th:replace="fragments/table :: table"></div>
        </div>
        <a th:href="@{/}">Back to home page</a>
    </div>

</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="fragments/header :: head"></head>-->

<!--<body>-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12 text-center">-->
            <!--<h3>Solar System Admin Panel</h3>-->
            <!--<hr>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div th:replace="fragments/add :: add"></div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div th:replace="fragments/table :: table"></div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<a th:href="@{/}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to home</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
